// =============================================================================
//
// Name:          Clearfix
//
// Description:   Micro clearfix. Extend the clearfix class with Sass to avoid
//                the `u-clearfix` class appearing over and over in your markup.
//
// Block:         `u-clearfix`
//
// Markup:
//
// <div class="u-clearfix">...</div>
//
// =============================================================================





// Variables
// =============================================================================

// Predefine the variables below in order to alter and enable specific features.

$tree-clearfix-namespace:    $tree-namespace !default;





// =============================================================================
// Block: `u-clearfix`
// =============================================================================

.#{$tree-clearfix-namespace}u-clearfix,
%#{$tree-clearfix-namespace}u-clearfix {

    &:after {
        clear: both;
        content: "";
        display: table;
    }
}
